/* чорний колір заголовків #212121 */
/* білий колір тексту #FFFFFF */
/* чорний колір лого "Studio" #000000 */
/* синій колір акценту + лого "WEB" #2196F3 */
/* колір посилання і телефону в шапці + параграфи #757575 */
/* колір посилання і телефону в футер rgba(255, 255, 255, 0.6) */

:root {
	--main-color: #212121;
	--accent-color: #2196f3;
	--logo-header: #000000;
	--white-color: #ffffff;
	--background-color: #f5f4fa;
	--header-paragraph-color: #757575;
	--white-trasparent: rgba(255, 255, 255, 0.6);
	--footer-background-color: #2f303a;
}

body {
	color: var(--main-color);
}

/*  Шапка  */

.logo-header {
	color: var(--logo-header);
}

.navigation {
	color: var(--main-color);
}

.contacts {
	color: var(--header-paragraph-color);
}

.accent,
.navigation:hover,
.navigation:focus,
.contacts:hover,
.contacts:focus {
	color: var(--accent-color);
}

/* Головний контент */

/* Блок Особливості */

.feature-text {
	color: var(--header-paragraph-color);
}

/* Блок Чим займаємось */

/* Наша команда */

.team-text {
	color: var(--header-paragraph-color);
}

/* Футер */
